.title {
  position: relative;
  color: #fff;
  font-family: "TradeGothic LT Extended", sans-serif;
}
.title span {
  font-weight: 700;
  font-size: 2.813rem;
  margin-bottom: 4px;
}
.title h1 {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 16px;
}
.title p {
  font-weight: 600;
  font-size: 1.25rem;
}

@media screen and (max-width: 854px) {
  .title span {
    font-size: 2rem;
  }
  .title h1 {
    font-size: 3.5rem;
  }
  .title p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 653px) {
  .title span {
    font-size: 1.7rem;
  }
  .title h1 {
    font-size: 2.5rem;
  }
  .title p {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .title span {
    font-size: 1rem;
  }
  .title h1 {
    font-size: 1.6rem;
  }
  .title p {
    font-size: 0.9rem;
  }
}
