.textFamily {
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #112211;
  opacity: 0.8;
}

.twoLines-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 0.5rem;
}

.twoLines-container button {
  color: #112211;
  border: none;
  background-color: transparent;
  font-weight: 700;
}
