@font-face {
  font-family: "TradeGothic LT Extended";
  src: url("./assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("woff2"),
    url("./assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf") format("woff"),
    url("./assets/webfonts/Trade\ Gothic\ LT\ Std\ Extended.otf")
      format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets/webfonts/Montserrat\ Regular.ttf") format("woff2"),
    url("./assets/webfonts/Montserrat\ Regular.ttf") format("woff"),
    url("./assets/webfonts/Montserrat\ Regular.ttf") format("truetype");
}
